<h1>Discount: <%= @discount.name %></h1>

<h3>Description: <%= @discount.description %></h3>
<h3>Minimum Item Quantity: <%= @discount.min_quantity %></h3>
<h3>Maximum Item Quantity: <%= @discount.max_quantity %></h3>
<h3>Discount Percentage: <%= @discount.percent %></h3>
